body {
  text-align: center;
}
form {
  padding: 15px;
}
h2 {
  padding: 10px;
}
table, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  vertical-align: top;
  width: 175px;
  height: 40px;
  text-align: left;
}
#resultTable {
  margin-left: 25%;
  margin-right: 25%;
  background-color: #d3d3d3;
  padding-bottom: 15px;
  width: 50%;
}
